/* App.css */

/* Reset the margin and padding for the entire app */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Set the app as a flex container with a vertical direction */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the app takes at least the full viewport height */
}

/* Set the Navbar to a fixed position at the top */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure Navbar is above other content */
}

/* Add space below the Navbar to accommodate the Search component */
.App-content {
  padding-top: 25px; /* Adjust this value to create space below the Navbar */
  background-color: #f9f9f9; /* Optional: Add a background color for the content area */
}