/* Styles for CodeSnippetItem component */

/* CodeSnippetItem.css */
.snippet-title {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Place items at the ends of the container */
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

  .snippet-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Styling for the code block */
  .react-syntax-highlighter-code-block {
    margin: 0;
    border-radius: 4px;
  }
  